<app-navbar></app-navbar>



<body>


    <main class="main">

        <div class="container py-4" *ngIf="loading">
            <p>Chargement des détails de la publication...</p>
        </div>

        <div class="container py-4" *ngIf="!loading && errorMessage">
            <p>{{ errorMessage }}</p>
        </div>


        <!-- blog single -->
        <div class="blog-single py-120" *ngIf="!loading && publication">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-8">
                        <div class="blog-single-wrap">
                            <div class="blog-single-content">
                                <div class="blog-thumb-img">
                                    <img [src]="getPublicationImage()" [alt]="publication.title || 'Publication'" (error)="onImageError($event)">
                                </div>
                                <div class="blog-info">
                                    <div class="blog-meta">
                                        <div class="blog-meta-left">
                                            <ul>
                                                <li><i class="far fa-user"></i><a href="#">{{ getCreatorName() }}</a></li>
                                                <li><i class="far fa-comments"></i>{{ getCommentsCount() }} Comments</li>
												<li><i class="far fa-thumbs-up"></i>{{ getLikesCount() }} Likes</li>
                                                <li><i class="far fa-thumbs-down"></i>{{ getDislikesCount() }} Dislikes</li>
                                            </ul>
                                        </div>
                                        <div class="blog-meta-right">
                                             <a href="#" class="share-link"><i class="far fa-share-alt"></i>Share</a>
                                        </div>
                                    </div>
                                    <div class="blog-details">
                                        <h3 class="blog-details-title mb-20">{{ publication.title || 'Sans titre' }}</h3>
                                      
                                        <p class="mb-10">
                                            {{ publication.content || 'Aucun contenu disponible.' }}
                                        </p>

                                        <div class="publication-reaction-bar" *ngIf="isUserLoggedIn">
                                            <button type="button"
                                                    class="reaction-btn reaction-btn--like"
                                                    [class.reaction-btn--active]="userReaction === 'like'"
                                                    (click)="onLike()">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                                <span>Like</span>
                                                <strong>{{ getLikesCount() }}</strong>
                                            </button>
                                            <button type="button"
                                                    class="reaction-btn reaction-btn--dislike"
                                                    [class.reaction-btn--active]="userReaction === 'dislike'"
                                                    (click)="onDislike()">
                                                <i class="fa-solid fa-thumbs-down"></i>
                                                <span>Dislike</span>
                                                <strong>{{ getDislikesCount() }}</strong>
                                            </button>
                                        </div>
                                        <p class="reaction-login-hint" *ngIf="!isUserLoggedIn">
                                            Connectez-vous pour liker ou disliker cette publication.
                                        </p>
									
									

                                
                                        <hr>
										<div class="blog-details-tag pb-20">
											<h5>Tags : </h5>
											<ul>
												<li *ngFor="let tag of getTags()"><a href="#">{{ tag }}</a></li>
                                                <li *ngIf="getTags().length === 0"><a href="#">Aucun tag</a></li>
											</ul>
										</div>
                                    </div>
                               
                                </div>
                                <div class="blog-comment">
                                    <h3>Comments ({{ getCommentsCount() }})</h3>
                                    <div class="blog-comment-wrap">
                                        <div class="blog-comment-item" *ngFor="let comment of comments">
                                            <img class="comment-avatar"
                                                 [src]="(comment.photo || comment.userPhoto || comment.user_photo) ? ((comment.photo || comment.userPhoto || comment.user_photo) + '?t=' + commentImageTimestamp) : '/assets/img/team/icondefaut.webp'"
                                                 alt="comment-avatar"
                                                 (error)="onCommentImageError($event)">
                                            <div class="blog-comment-content">
                                                <h5>{{ comment.userFullName || 'Utilisateur' }}</h5>
                                                <span><i class="far fa-clock"></i> {{ formatCommentDate(comment) }}</span>
                                                <p *ngIf="editingCommentId !== comment.id">{{ comment.content }}</p>
                                                <div class="comment-edit-box" *ngIf="editingCommentId === comment.id">
                                                    <textarea class="form-control"
                                                              rows="3"
                                                              [(ngModel)]="editingCommentContent"
                                                              [disabled]="isSubmittingComment"></textarea>
                                                    <div class="comment-actions-row">
                                                        <button type="button"
                                                                class="theme-btn theme-btn-sm"
                                                                (click)="saveEditComment(comment)"
                                                                [disabled]="isSubmittingComment">
                                                            Enregistrer
                                                        </button>
                                                        <button type="button"
                                                                class="theme-btn theme-btn-sm theme-btn-outline"
                                                                (click)="cancelEditComment()"
                                                                [disabled]="isSubmittingComment">
                                                            Annuler
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="comment-actions-row"
                                                     *ngIf="canManageComment(comment) && editingCommentId !== comment.id">
                                                    <button type="button"
                                                            class="comment-action-icon"
                                                            title="Modifier"
                                                            aria-label="Modifier le commentaire"
                                                            (click)="startEditComment(comment)">
                                                        <i class="far fa-pen"></i>
                                                    </button>
                                                    <button type="button"
                                                            class="comment-action-icon comment-action-icon--danger"
                                                            title="Supprimer"
                                                            aria-label="Supprimer le commentaire"
                                                            (click)="askDeleteComment(comment)">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="comment-empty-state" *ngIf="comments.length === 0">
                                            Aucun commentaire pour le moment.
                                        </p>
                                    </div>
                                    <div class="blog-comment-form">
                                        <h3>Mettre Votre Commentaire</h3>
                                        <form (ngSubmit)="submitComment()">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-icon">
                                                            <i class="far fa-pen"></i>
                                                            <textarea name="message"
                                                            cols="30"
                                                            rows="5"
                                                            class="form-control"
                                                            placeholder="Votre commentaire..."
                                                            [(ngModel)]="commentContent"
                                                            [disabled]="!isUserLoggedIn || isSubmittingComment"
                                                            required></textarea>
                                                        </div>
                                                    </div>
                                                    <p class="reaction-login-hint" *ngIf="!isUserLoggedIn">
                                                        Connectez-vous pour ajouter un commentaire.
                                                    </p>
                                                    <div class="comment-notice"
                                                         *ngIf="commentNotice"
                                                         [class.comment-notice--success]="commentNoticeType === 'success'"
                                                         [class.comment-notice--error]="commentNoticeType === 'error'">
                                                        {{ commentNotice }}
                                                    </div>
                                                    <p class="comment-error" *ngIf="commentError">{{ commentError }}</p>
                                                    <button type="submit"
                                                            class="theme-btn"
                                                            [disabled]="!isUserLoggedIn || isSubmittingComment">
                                                        {{ isSubmittingComment ? 'Publication...' : 'Post Comment' }}
                                                        <i class="far fa-paper-plane"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="comment-delete-modal-backdrop" *ngIf="commentToDelete">
                                    <div class="comment-delete-modal">
                                        <h4>Confirmer la suppression</h4>
                                        <p>Voulez-vous vraiment supprimer ce commentaire ? Cette action est irréversible.</p>
                                        <div class="comment-actions-row">
                                            <button type="button"
                                                    class="theme-btn theme-btn-sm theme-btn-outline"
                                                    (click)="cancelDeleteComment()"
                                                    [disabled]="isSubmittingComment">
                                                Annuler
                                            </button>
                                            <button type="button"
                                                    class="theme-btn theme-btn-sm comment-delete-confirm-btn"
                                                    (click)="confirmDeleteComment()"
                                                    [disabled]="isSubmittingComment">
                                                {{ isSubmittingComment ? 'Suppression...' : 'Supprimer' }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="blog-sidebar">
                            <!-- search-->
                     

                       

                            <!-- recent post -->
                            <div class="widget recent-post">
                                <h5 class="widget-title">Publications ayant les mêmes tags</h5>
                                <div class="recent-post-item" *ngFor="let related of relatedPublications">
                                    <div class="recent-post-img">
                                        <img [src]="getRelatedPublicationImage(related)"
                                             [alt]="related.title || 'Publication liée'"
                                             (error)="onImageError($event)">
                                    </div>
                                    <div class="recent-post-info">
                                        <h6>
                                            <a [routerLink]="['/DetailActualite']" [queryParams]="{ id: related.id }">
                                                {{ related.title || 'Sans titre' }}
                                            </a>
                                        </h6>
                                        <span><i class="far fa-clock"></i>{{ formatRelatedDate(related) }}</span>
                                    </div>
                                </div>
                                <p *ngIf="relatedPublications.length === 0">Aucune publication liée trouvée.</p>
                            </div>

                      

                            <!-- Recent Post -->
                            <div class="widget tag">
                                <h5 class="widget-title">Les Populaire Tags</h5>
                                <div class="tag-list">
                                    <a href="#" *ngFor="let tag of popularTags">{{ tag }}</a>
                                    <a href="#" *ngIf="popularTags.length === 0">Aucun tag</a>
                                </div>
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog single end --> 

    </main>

    


    <!-- scroll-top -->
    <a href="#" id="scroll-top"><i class="far fa-arrow-up"></i></a>
    <!-- scroll-top end -->


    <!-- js -->
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <script src="assets/js/modernizr.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/counter-up.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>

</body>


<app-footer></app-footer>